black==22.1.0
camelot-py==0.10.1
# Cartopy==0.19.0.post1 # needs to be installed separately
matplotlib==3.5.1
numpy==1.22.2
opencv-python-headless==4.5.5.64
openpyxl==3.0.9 # needed to read excel files
pandas==1.4.1
pylint==2.12.2
requests==2.31.0
titlecase==2.3
us==2.0.2